frozendict==2.4.6
gitdb==4.0.11
html5lib==1.1
idna==3.10
matplotlib==3.9.2
mkl-service==2.4.0
multitasking==0.0.11
narwhals==1.14.2
numpy==1.26.4
pandas==2.2.2
peewee==3.17.8
prettytable==3.12.0
protobuf==4.25.3
pyecharts==2.0.7
python=3.9.20
python-dateutil==2.9.0post0
requests==2.32.3
scipy==1.12.0
simplejson==3.19.3
streamlit==1.40.2
streamlit-echarts==0.4.0
typing_extensions==4.11.0
webencodings==0.5.1
yfinance==0.2.50
zipp==3.21.0
